
@media(min-width:576px){
    .portfolio .item-title-line-margin-fluid:after {
        margin: 24px 0 0;
    }





}


@media(min-width:768px){

    #main-nav {
        margin: 0 -15px;
        background: transparent;
    }

    .navbar-light .navbar-nav .nav-item {
        border-bottom: 2px solid transparent;
        -webkit-transition: 0.5s linear;
        transition: 0.5s linear;
    }

    .navbar-light .navbar-nav .nav-item.active,
    .navbar-light .navbar-nav .nav-item:hover {
        background: transparent;
        border-bottom: 2px solid #E84C3D;
    }

    .navbar-light .navbar-nav .nav-item .nav-link {
        font-size: 1rem;
    }

    .hero {
        padding: 200px 0 ;
    }
    
    .features .features-item {
        text-align: left;
    }
    
    .features .features-item-content .section-item-title.item-title-line-margin-fluid:after {
        margin: 24px 0;
    }
    
    .features .features-item-icon {
        text-align: center;
    }





}


@media(min-width:992px){

    .hero {
        padding: 320px 0;
    }
    
    .hero .hero-title {
        font-size: 2.5rem !important;
    }
    
    .custom-padding {
        padding: 100px 0 !important;
    }




}





@media(min-width:1200px){
    .container {
        width: 1119px;
    }

}